########################
#
#	file type
#
########################
###2021”N3ŒŽ28“ú16:42:17
*.jpg
*.JPG

################################################
#
#	directories
#
################################################
###2020”N11ŒŽ30“ú21:24:23
news-articles/

###


################################################
#
#	ops
#
################################################
###2021”N3ŒŽ28“ú16:42:57
# g rm --cache ishikawanosuke2/*.JPG




